.wrapper {
    display: flex;
    flex-direction: column;
    min-width: 640px;
    max-width: 640px;
    max-height: 100%;
}

.descriptionBlock {
    max-height: 300px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    gap: 24px;
    scrollbar-color: #2F2F37 #8585AD;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    padding-right: 12px;
    box-sizing: border-box;
}

.orderNumber {
   display: flex;
   justify-content: center;
}

.ingredientItemInfo {
    display: flex;
    align-items: center;
    min-height: 64px;
    justify-content: space-between;
}

.ingredientItemInfoLeftGroup,
.ingredientItemInfoRightGroup {
    display: flex;
    gap: 8px;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.totalCount {
    display: flex;
    flex-direction: row;
    gap: 8px;
}