.registrationPageWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrationPage {
    display: flex;
    width: 480px;
    height: 478px;
    flex-direction: column;
    align-items: center;
}

.inputs {
    width: 100%;
}

.button {
    width: 254px;
    height: 56px;
    border-radius: 64px;
    background: linear-gradient(to bottom left, #4C4CFF, #801AB2);
}

.linkText {
    color: #4C4CFF;
    text-decoration: none;
}