.centering-an-element {
    margin-left: 320px;
    margin-right: 320px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.main {
    width: 1240px;
    display: flex;
    height: 100%;
    min-height: 0px;
}