/* TODO: Общие стили для проекта (поэтому текущий файл не является модулем) */
* {
    margin: 0px;
    padding: 0px;
    position: relative;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    border-radius: 3px;
}