.burgerIngredients {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-grow: 1;
}

.header {
    display: flex;
    width: 100%;
}

.scrollBar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    gap: 24px;
    scrollbar-color: #2F2F37 #8585AD;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    padding-right: 4px;
}